<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>双飞翼布局</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/layout.css">
</head>

<body>
    <header>
        <h2>睡觉大师</h2>
    </header>
    <article>
        <div class="middle">
            <div class="inner">
                <div class="content">
                    <p>“现在，如果只是睫毛拦住了时间，生命就因此认识了黑暗” </p>
                    <p>本文是一篇简要的人物名录，这些人物的禀赋和技艺构成了上个世纪睡眠技巧的经纬；我想，从人物的角度对“睡眠”现象给出补充性的注释是非常必要的，只要这一深邃现象的概貌能够在文中得以略微呈现，我也就心满意足了。</p>
                    <p>贝尔，克莱夫（1981-2064）：英国人，职业是建筑工程师。他也许是最早开始关注睡眠技术的人之一。他也是新睡美人团体的创立者和其中最广为人知的核心人物。贝尔确立了睡眠技术的基本原则，就是“不依靠药物，不依靠催眠术。”他的睡眠表演属于比较健康的体态类表演。2007年3月12日，贝尔曾在剑桥大学表演倒立入睡，在众目睽睽之下，他双手倒立，在13分钟后进入熟睡状态，睡眠时间约为2个小时。这一表演虽然只运用了初级睡眠技巧，但给观众留下了深刻印象，也开创了睡眠表演的先河。随着对睡眠技巧的深入挖掘，贝尔的体态技巧逐渐被人放弃。反对者认为，体态类表演只不过是杂技的一种，不能视为睡眠技术。我们认为，这种看法有失偏颇。在单腿独立或双手倒立的状态下入睡，当然需要真正的睡眠技术才能实现。贝尔的历史地位是不容置疑的。贝尔不断发表睡眠技术的论著和论文，一直到上世纪50年代。他的《即刻平静》（论文）（Peace at Once,2015）已成为公认的经典之作。</p>
                    <p>古伯尔，皮埃尔（2015- ）：毕业于巴黎大学，曾任法国外交部官员；此人博学多才，对法国历史有精湛的研究。他的睡眠技术偏重对时间的控制。他曾于2046年开始长期睡眠表演，一直到2053年他才从长睡中醒来。法国国家电视台现场直播了他醒来时的情景。为了那次具有划时代意义的睡眠表演，古伯尔失去了工作。他的妻子也在他睡觉的时候与他办理了离婚。在古伯尔长达7年之久的睡眠生涯中，他的助手和追随者简蒂丝小姐给予了他无微不至的照顾。清醒后，古伯尔向友人透露，在那7年中，他在另一个地方生活，与一位印度女子结了婚，并有两个孩子。他在那里讲授法国史，而且在他醒来之前，他正要被晋升为校长。古伯尔醒来后受到抑郁症的困扰。2054年，他试图割腕自杀，但得到了及时的抢救，幸免于难。2055年，古伯尔孤身一人前往印度，在一所不知名的印度大学当上了法语教师。2058年他与一位印度女子结婚。可以说，他从醒来后就过上了普通人的生活，没有再进行任何睡眠表演，但也有人认为，他的印度之行其实是重返梦境之旅，他的睡眠表演始终没有结束。 </p>
                    <p>黑格尔斯特罗姆（1988-2039）：黑格尔斯特罗姆是一个神秘的怪人。他同时是一位数学家、一位诗人和一名罪犯。他曾著有〈〈数学的世界观〉〉这样的煌煌巨著，但也曾因猥亵女童而入狱。2039年，他出狱的那年，黑格尔斯特罗姆进行了第一次恐怖睡眠表演。他在虎笼中放置了一张大床，并在两只饥饿的母虎的陪伴下，进入了梦乡。随后发生的事件是睡眠表演史上最为惨痛的悲剧。黑格尔斯特罗姆雷声般的呼噜令受惊的母虎疯狂的攻击了他。他被活活咬死，并被撕成了几块。黑格尔斯特罗姆是第一个在睡眠表演中丧生的人，但他不是最后一个。他的恐怖睡眠表演很快就成了睡眠表演的主流。这是一个危险的旋涡，许多出色的睡眠大师都为此付出了生命的代价。2041年，斯图尔特在他的专著《感觉与未来》（Feling and the Future,2041）中系统建立了恐怖睡眠表演的理论基础。在书中，斯图尔特细致分析了黑格尔斯特罗姆表演的意义，他指出，睡眠的真正的障碍并不是睡眠环境或人体姿态，而是人的紧张情绪。内心焦灼是造成失眠的主要原因，而对危险状态的意识可以令人的紧张程度达到极限。如果能在这种紧张状态下入睡，那就可以达到睡眠技术的最高境界。这个理论得到了大部分睡眠大师的认可。从这时起，睡眠大师和亡命之徒划上了等号。 </p>
                    <p>黑格尔斯特罗姆（1988-2039）：黑格尔斯特罗姆是一个神秘的怪人。他同时是一位数学家、一位诗人和一名罪犯。他曾著有〈〈数学的世界观〉〉这样的煌煌巨著，但也曾因猥亵女童而入狱。2039年，他出狱的那年，黑格尔斯特罗姆进行了第一次恐怖睡眠表演。他在虎笼中放置了一张大床，并在两只饥饿的母虎的陪伴下，进入了梦乡。随后发生的事件是睡眠表演史上最为惨痛的悲剧。黑格尔斯特罗姆雷声般的呼噜令受惊的母虎疯狂的攻击了他。他被活活咬死，并被撕成了几块。黑格尔斯特罗姆是第一个在睡眠表演中丧生的人，但他不是最后一个。他的恐怖睡眠表演很快就成了睡眠表演的主流。这是一个危险的旋涡，许多出色的睡眠大师都为此付出了生命的代价。2041年，斯图尔特在他的专著《感觉与未来》（Feling and the Future,2041）中系统建立了恐怖睡眠表演的理论基础。在书中，斯图尔特细致分析了黑格尔斯特罗姆表演的意义，他指出，睡眠的真正的障碍并不是睡眠环境或人体姿态，而是人的紧张情绪。内心焦灼是造成失眠的主要原因，而对危险状态的意识可以令人的紧张程度达到极限。如果能在这种紧张状态下入睡，那就可以达到睡眠技术的最高境界。这个理论得到了大部分睡眠大师的认可。从这时起，睡眠大师和亡命之徒划上了等号。 </p>
                    <p>西蒙.史密斯（2054- ）：专业睡眠师，至今仍是最活跃的睡眠表演者。2082年，史密斯重新表演了虎笼入睡。这一表演令其声名大噪。他非常幸运，在虎笼中睡了8个小时，两只母虎一直在他周围急速踱步，但最终没有动他一根毫毛。表演过后，他对记者说：“有一天，我妻子谈起我睡觉不打呼噜的事，当时我就想到了这个表演，当然，我直到昨天也没敢对她说，现在好了，我还活着，我可以再次亲吻她了！”史密斯最惊人的表演是在2085年完成的塔尖入睡表演。在新巴黎塔（塔高902.4米）的尖端放置了一张单人床，此床没有围栏。史密斯乘直升机登上为他准备好的小床，于11分钟后入睡。只要在床上滚动一下，他就会摔得粉身碎骨。但他再次避开了死神，两小时后，他从梦中醒来，搭直升机离开了塔尖。据史密斯回忆，最危险的时候是他醒来的一刹那，因为他还以为是在自己家的卧室里。他在自传开始处这样写道：“我经常梦见自己无法入睡，但在现实中，我从未失眠过。”史密斯无疑是上个世纪最有才华也是最为幸运的睡觉大师。现在，他在哈佛大学担任教授，讲授睡眠技艺。许多学生都喜欢在课上同他一起打瞌睡。</p>
                    <p>帕斯菲尔德男爵（2026-2097）：他并没有过惊人的睡眠表演，但他第一次将睡眠技术变成了一种宗教。他的基本教义是“双重生活”，这一教义颇为神秘。它的大概意思是，睡眠生活在生前是断裂的、散乱的，但在死后会成为连贯的、有逻辑的；而日常生活则相反，虽然在生前它以连贯有序的形式呈现，但人死后，它会变成回忆中散乱的影象。这二者构成一种神秘的对称。而睡眠技术可以帮人实现生前世界和死后世界的和谐统一。帕斯菲尔德男爵经常组织信徒在公园或广场集会睡觉，人数曾达到20000之多。2097年7月3日，当帕斯菲尔德男爵在广场熟睡时，被一名发疯的信徒枪杀了。他所创立的宗教至今仍在传布。</p>
                    <p>巴兹尔.伯恩斯坦（2009-2090）：一个老派的睡梦大师，在别人都放弃了姿态类睡眠表演之后，他还在坚持。他曾多次表演高难度的睁眼入睡。2041年，他同他的两个女助手—阿特丽丝姐妹进行了颇受争议的性爱睡眠表演，巴兹尔.伯恩斯坦在极度的性亢奋状态中，突然进入了睡眠状态。假如不从伦理角度看待这一表演，我们必须承认它是相当成功的。巴兹尔.伯恩斯坦认为，睡眠是一种享乐，人们应当学会在入睡前享乐，入睡中享乐，入睡后享乐。他从未进行过恐怖睡眠表演。他最重要的成就是发明了一种反药物睡眠技术，在上床前，他先服用或注射大量兴奋剂，然后在短时间内入睡。这种表演不是没有危险性，但基本上不用直接面对死亡的威胁。而这仍然需要对极度的紧张兴奋加以克服，从而表现出高超的睡眠技巧和境界。这种既新颖又安全的方式，受到了睡眠技术界的普遍欢迎。当有人指责他不敢面对真正的生死考验时，巴兹尔.伯恩斯坦会当着指责者的面呼呼大睡。 </p>
                    <p>戈比西，图勒（2014-2067）：最恐怖的睡眠大师，哲学家，噪音爱好者。年青时，他亲眼目睹了黑格尔斯特罗姆被老虎撕碎的一幕，内心深受震撼，从此决心献身睡眠技术。他起初的睡眠表演是在高分贝的噪音下入睡。不久以后，他双耳失聪。为了进一步学习睡眠技巧，他曾两次申请加入新睡美人团体，均遭拒绝。2059年，他表演了蜂巢入睡，在约20万只蜜蜂的包裹下，戈比西睡了36个小时，醒来后已经奄奄一息。目击者说，他当时变成了一个紫红色的大胖子。2060年，戈比西在巴尔干半岛进行了饥渴睡眠表演，在无人照顾的情况下，他在荒野中睡了7个月。2061年，戈比西尝试了空中入睡，他身背降落伞，从3000英尺高空跳下，并在空中入睡。2062年，他在疯狂中刺伤了他的情人，后被送入精神病院。住院登记表和记录卡显示，戈比西曾与上个世纪最邪恶的食人魔拉什利同囚一室，研究者普遍认为，这可能间接导致了戈比西的惨死。2067年戈比西康复出院，在8月中最炎热的一天，他将特意订做的大铁桶摆放在院子中央，在桶里灌上水，在桶下点上火，然后，钻入桶中，不一会儿就睡熟了。事后，人们发现了戈比西的遗书，在遗书中，戈比西写道：“在睡梦中死去是最好的福分”。 </p>
                </div>
            </div>
        </div>
        <div class="left">
            <div class="author">
                <img src="./images/zy.jpg" width="180">
                <p>朱岳，男，生于1977年。射手座，A型血。2004年开始小说创作。2006年出版短篇小说集《蒙着眼睛的旅行者》（新星出版社）。后曾在《人民文学》杂志2008年第8期、2010年第2期上发表短篇小说。2010年10月完成小说集《睡觉大师》，即将由三联书店出版。 一个像他的大多数人物那样在现实世界中磕磕绊绊， 成天在床上靠编造私人纸牌故事打发不快心情的人。 有这样一类作者，他们自然而然地表现出优良的禀赋，而不是因从那些愚蠢的传统——不知疲倦地拙劣模仿，不断地将真正优秀的作品解剖——我看到过他们，那些真正的天才、怪胎、自闭症患者、白日梦游者……</p>
            </div>
        </div>
        <div class="right">
            <div class="directory">
                <p>目录</p>
                <p>1. 我可怜的女朋友</p>
                <p>2. 非常成功</p>
                <p>3. 尼维兰的献礼</p>
                <p>4. 关于费耐生平的摘录</p>
                <p>5. 记忆三部曲</p>
                <p>6. 从坟墓到摇篮</p>
                <p>7. 小弥太的枪术</p>
            </div>
        </div>
    </article>
    <footer>
        <div class="link">
            <a href="https://www.douban.com/people/1867648/">去作者的豆瓣</a>
        </div>
    </footer>
</body>

</html>
