
.course_div {
	width:100%;
	position: absolute;
	margin:0 auto;
	top:20%;
	text-align: center;
}

.course_div h3 {
    text-align: center;
}

.course_div table {
    border-collapse: collapse;
    text-align: center;
    margin:0 auto;
}
