html {
    /*当想要设置高度百分比时，一定要设置html和body的高度*/
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    /*当想要设置高度百分比时，一定要设置html和body的高度*/
    height: 100%;
    font: 12px arial;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    min-height: 600px;
}


/*背景*/

.s-skin-container {
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 1000px;
    z-index: -10;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    zoom: 1;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #ebebeb;
}


/*头部服务信息*/

.info {
    float: left;
    height: 32px;
}


/*天气*/

.info .weather {
    margin: 0 0 0 15px;
    float: left;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #555;
    cursor: pointer;
}

.weather .weather_container {
    margin: 7px 0 5px;
    height: 20px;
    line-height: 20px;
    width: 100%;
}

.weather_container>span {
    display: block;
    float: left;
}

.weather_container .temp {
    margin-right: 9px;
}

.temp>span {
    display: block;
    float: left;
}

.temp .icon_state {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.pollution>span {
    display: block;
    float: left;
    margin-right: 7px;
}

.pollution .pollution_name {
    color: #badc00;
    font-weight: bold;
}

.pollution .pollution_vertial {
    margin-right: 11px;
}

.info .weather:hover .s-mod-setweather {
    display: block;
}

.s-mod-setweather .everyday-item {
    text-align: center;
}


/*天气结束*/


/*换肤设置等*/

.s_icons {
    float: left;
    _display: inline;
}

.s_icons>a {
    position: relative;
    height: 32px;
    line-height: 32px;
    margin-right: 19px;
    color: #555;
    text-decoration: underline;
    outline: none;
    float: left;
    display: block;
    text-shadow: none;
}

.s-skin-layer {
    display: none;
}


/*头部服务信息结束*/


/*头部右边导航*/

header nav {
    width: 550px;
    height: 32px;
    font-size: 13px;
    float: right;
}

header nav ul {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 550px;
    height: 32px;
    border: 0;
}


/*给导航列表设置样式*/

.item {
    float: right;
}

.item {
    list-style: none;
    margin-left: 19px;
    height: 32px;
    line-height: 32px;
}


/*给导航列表中的a标签设置字体颜色和加粗*/

.item>a {
    text-decoration: underline;
    font-weight: bold;
    color: #555;
}

.item_user_name>a,
.item_setting>a {
    font-weight: normal;
    color: #666;
}


/*鼠标悬停在‘用户名’菜单时显示二级菜单*/

.item_user_name:hover .user_name_menu {
    display: block;
}


/*鼠标悬停在‘设置’菜单时显示二级菜单*/

.item_setting:hover .item_setting_menu {
    display: block;
}


/*‘用户名’的二级菜单的样式*/

.user_name_menu {
    position: absolute;
    display: none;
    top: 20px;
    right: 148px;
    width: 70px;
}


/*‘用户名’的二级菜单中导航小三角形的创建和样式设置*/

.user_name_menu .triangle {
    position: relative;
    margin: 0 auto;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #d1d1d1;
}

.user_name_menu .inner_triangle {
    position: absolute;
    top: -5px;
    left: -6px;
    margin-top: 1px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: white;
    z-index: 100;
}


/*‘用户名’的二级菜单放置a标签的容器样式*/

.user_name_menu .setting_menu_container {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1px solid #d1d1d1;
    box-shadow: 1px 0px 1px #ccc;
    background-color: #fff;
}


/*‘用户名’的二级菜单中a标签的样式*/

.user_name_menu .setting_menu_container>a {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 68px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #666;
    text-decoration: none;
}


/*鼠标悬停在‘用户名’的二级菜单中的a标签上时的样式*/

.user_name_menu .setting_menu_container>a:hover {
    background-color: #3385ff;
    color: white;
    /*显示a标签在小三角形之上*/
    z-index: 101;
}


/*‘设置’的二级菜单的样式*/

.item_setting_menu {
    position: absolute;
    display: none;
    top: 20px;
    right: 83px;
    width: 70px;
}


/*‘设置’的二级菜单中导航小三角形的创建和样式设置*/

.item_setting_menu .triangle {
    position: relative;
    margin: 0 auto;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #d1d1d1;
}

.item_setting_menu .inner_triangle {
    position: absolute;
    top: -5px;
    left: -6px;
    margin-top: 1px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: white;
    z-index: 100;
}


/*‘设置’的二级菜单放置a标签的容器样式*/

.item_setting_menu .setting_menu_container {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1px solid #d1d1d1;
    box-shadow: 1px 0px 1px #ccc;
    background-color: #fff;
}


/*‘设置’的二级菜单中a标签的样式*/

.item_setting_menu .setting_menu_container>a {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 68px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #666;
    text-decoration: none;
}


/*鼠标悬停在‘设置’的二级菜单中的a标签上时的样式*/

.item_setting_menu .setting_menu_container>a:hover {
    background-color: #3385ff;
    color: white;
    /*显示a标签在小三角形之上*/
    z-index: 101;
}


/*‘更多产品’导航项的样式*/

.item_more {
    width: 86px;
    height: 33px;
    margin: 0;
    margin-left: 20px;
    margin-rihgt: 2px;
    list-style: none;
    text-align: center;
    line-height: 32px;
    background-color: #3385ff;
}


/*‘更多产品’导航项中a标签的样式*/

.item_more>a {
    font-weight: normal;
    color: white;
    text-decoration: none;
    padding: 4px 6px 4px 6px;
}


/*为了使鼠标悬停在‘更多产品’上时显示为占满屏幕的一列，创建了width为1的显示边框的span*/

.add_border {
    display: none;
    position: absolute;
    top: 0;
    right: 86px;
    width: 1px;
    min-height: 712px;
}


/*‘更多产品’二级菜单外部包裹层的样式*/

.products_wrapper {
    display: none;
    position: absolute;
    top: 33px;
    right: 0;
    width: 86px;
    min-height: 679px;
}


/*‘更多产品’二级菜单列表（ul）的样式*/

.more_products {
    position: absolute;
    top: 6px;
    right: 0;
    width: 86px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
    text-align: center;
    margin: 0 auto;
}

.item_more:hover .add_border {
    display: block;
    background-color: #f0f0f0;
}

.item_more:hover .products_wrapper {
    display: block;
    background-color: #f9f9f9;
}

.item_more:hover .more_products {
    display: block;
    background-color: #f9f9f9;
}

.item_more:hover {
    background-color: #f9f9f9;
    color: #666;
}

.item_more:hover>a {
    background-color: #f9f9f9;
    color: #666 !important;
}


/*‘更多产品’二级菜单列表项的样式*/

.more_products li {
    width: 66px;
    height: 76px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #f0f0f0;
}


/*‘更多产品’二级菜单列表项中a标签的样式*/

.more_products a {
    display: block;
    text-decoration: none;
    color: #666;
}


/*鼠标悬停在‘更多产品’二级菜单列表项中a标签时加下划线样式*/

.more_products a:hover {
    text-decoration: underline;
}

.more_first {
    border-top: 1px solid #f0f0f0;
}


/*‘更多产品’二级菜单最后一项的样式设置和样式重写*/

.more_more {
    line-height: 76px;
}

.more_more>a {
    text-decoration: underline;
}

.more_more>a:hover {
    text-decoration: underline;
}


/*‘更多产品’二级菜单文字和图片样式设置*/

.more_products span {
    display: block;
    text-align: center;
    margin: 10px auto 5px;
}

.more_products span:first-child {
    margin: 0 auto 5px;
}

.products_music {
    width: 40px;
    height: 36px;
    background: url("../img/more_products.png");
    background-repeat: no-repeat;
    background-position: -72px 0;
}

.products_img {
    width: 36px;
    height: 36px;
    background: url("../img/more_products.png");
    background-repeat: no-repeat;
    background-position: -112px 0;
}

.products_zhidao {
    width: 36px;
    height: 36px;
    background: url("../img/more_products.png");
    background-repeat: no-repeat;
    background-position: -36px 0;
}

.products_wenku {
    width: 36px;
    height: 36px;
    background: url("../img/more_products.png");
    background-repeat: no-repeat;
    background-position: -148px 0;
}

.products_top {
    width: 36px;
    height: 36px;
    background: url("../img/more_products.png");
    background-repeat: no-repeat;
    background-position: -184px 0;
}

.products_tui {
    width: 36px;
    height: 36px;
    background: url("../img/more_products.png");
    background-repeat: no-repeat;
    background-position: -220px 0;
}


/*头部右边导航结束*/

article {
    position: relative;
    text-align: center;
    top: 0;
    width: 1000px;
    height: 293px;
    margin: 0 auto;
    z-index: 89;
}

article .logo {
    position: relative;
    height: 181px;
}

.logo img {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -135px;
}

article .form_wrapper {
    position: relative;
    width: 100%;
    height: 40px;
}

.form_wrapper .fixed_logo {
    position: absolute;
    top: 15px;
    right: 646px;
    display: none;
    opacity: 0;
    transition: opacity 1s linear;
}

.form_wrapper form {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0;
}


/*form中输入框（span）的样式设置*/

.text_fields {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 535px;
    height: 38px;
    background-color: #fff;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 0;
    text-align: left;
}

.text_fields input {
    margin: 7px 0 0 7px;
    padding: 0;
    border: 0;
    width: 500px;
    height: 22px;
    font-size: 15px;
    outline: none;
}


/*输入框中小相册图标*/

.cam_picture {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 19px;
    background: url("../img/camera.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}


/*鼠标悬停在小相册图标上时改变背景图片显示的位置*/

.cam_picture:hover {
    background-position: 0px -20px;
}


/*搜索提交按钮（span）样式设置*/

.search {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 40px;
}

.search input {
    padding: 0;
    width: 100px;
    height: 40px;
    border: 1px solid #3385ff;
    background-color: #3385ff;
    font-size: 15px;
    color: white;
}


/*鼠标悬停在提交上时显示阴影，改变背景颜色*/

.search input:hover {
    background-color: #317ef3;
    box-shadow: 1px 1px 1px #ccc;
}


/*主要内容*/

.main {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 895px;
    z-index: 79px;
    background-color: rgba(255, 255, 255, 0.8);
}


/*主要内容导航*/

.main_nav {
    position: relative;
    width: 100%;
    min-height: 35px;
    _height: 35px;
    background-color: rgba(255, 255, 255, 0.8);
}

.main_nav_container {
    position: relative;
    width: 893px;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
    border-top: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    height: 39px;
    line-height: 39px;
}

.s-menu-item {
    color: #333;
    width: 80px;
    height: 39px;
    float: left;
    zoom: 1;
    text-align: center;
    cursor: pointer;
}

.s-menu-item:hover {
    background-color: #b3b6bb !important;
    color: #fff;
    background-image: none !important;
    filter: none !important;
    margin-top: -1px;
    margin-bottom: -1px;
    border-top: 1px solid #b3b6bb;
    border-bottom: 1px solid #b3b6bb;
}

.s-menu-mine {
    text-align: left;
    width: 124px;
}

.s-menu-mine .mine-icon {
    margin: 11px 0 0 20px;
    width: 20px;
    height: 18px;
    float: left;
    zoom: 1;
    background: url(../img/card_setts_fdb17359.png) no-repeat -15px 0;
    _background: url(../img/card_setts_ie_57e87032.png) no-repeat -15px 0;
}

.current .mine-icon {
    background-position: -144px 0;
}

.mine-text {
    float: left;
    height: 39px;
    zoom: 1;
    line-height: 39px;
    margin-left: 3px;
}

.s-menus-outer {
    float: left;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-align-items: stretch;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    -moz-align-items: stretch;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -ms-align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 719px;
}

.menus-wrapper {
    display: inline-block;
    zoom: 1;
    float: left;
    vertical-align: top;
    height: 100%;
}

.current,
.current:hover {
    background-color: #9a9da2 !important;
    color: #fff;
    font-weight: bold;
    background-image: none !important;
    filter: none !important;
    margin-bottom: -1px;
    margin-top: -1px;
    border-top: 1px solid #9a9da2;
    border-bottom: 1px solid #9a9da2;
}

.s-bg-space {
    -webkit-flex: auto;
    -moz-flex: auto;
    -ms-flex: auto;
    flex: auto;
    height: 38px;
}

.s-menu-setting {
    height: 39px;
    float: right;
    width: 18px;
    padding: 0 21px 0 11px;
    cursor: pointer;
}

.s-menu-setting:hover .menu-icon {
    background-position: -121px -73px;
}

.menu-icon {
    width: 100%;
    height: 18px;
    margin-top: 11px;
    overflow: hidden;
    background: url(../img/card_setts_fdb17359.png) no-repeat -121px -49px;
    _background: url(../img/card_setts_ie_57e87032.png) no-repeat -121px -49px;
}


/*主要内容导航结束*/


/*主要内容主体*/

.main_content {
    position: relative;
    width: 893px;
    min-height: 363px;
    _height: 363px;
    _overflow: visible;
    border: 1px solid #e9e9e9;
}


/*主要内容结束*/


/*回到顶部*/

.top_wrapper {
    visibility: hidden;
    position: fixed;
    _position: absolute;
    left: 50%;
    margin-left: 447px;
    width: 51px;
    bottom: 30px;
    _top: 200px;
    _bottom: auto;
}

.to_top {
    height: 26px;
    margin: 0 0 6px 10px;
    position: relative;
    width: 38px;
    padding-top: 12px;
    border: 1px solid #e3e3e3;
    background-color: #fafafa;
    cursor: pointer;
}

.top_text {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    height: 38px;
    line-height: 28px;
    width: 38px;
    z-index: 3;
    font-size: 13px;
    background-color: #eee;
    color: #999;
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid #e3e3e3;
}

.top_text>span {
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    text-align: center;
    height: 20px;
    width: 38px;
    line-height: 15px;
    font-size: 13px;
    background-color: #eee;
    color: #999;
}

.top_icon {
    display: block;
    height: 17px;
    width: 33px;
    margin: 0 auto;
    background: url(../img/topfed_c531aae6.png) no-repeat -1px -10px;
    _background: url(../img/topfed_ie_a6a8d214.png) no-repeat -1px -10px;
}
